/* Some mixins */
/* Basic style for some HTML elements */

.hero {

	.title {
		line-height: 1.3em;
		font-size: 2em;

		&.main-title {
			font-size: 3em;
		}
	}

	.subtitle {

		line-height: 1.6;
		font-size: 1.2em;
		opacity: 1;

		&.main-subtitle {
			font-size: 1.6em;
		}
	}

	.container {
		img.image {
			border-radius: 10px;
		}
	}

	&.override-black {

		.title,
		.subtitle {
			color: $black;
		}

	}

	&.is-hackclub {
		background-color: #e42d42;
		color: #ffffff;
	}

	.hero-foot {
		.tabs {
			position: -webkit-sticky;
			position: sticky;
		}
	}

}


.footer {
	.content {
		img.icon {
			vertical-align: text-bottom
		}
	}
}

iframe {
	&.vimeo {
		border-radius: 10px;
	}
}